alembic==0.9.5
backports.weakref==1.0rc1
bcolz==0.12.1
bleach==1.5.0
Bottleneck==1.2.1
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
colorama==0.3.9
contextlib2==0.5.5
cyordereddict==1.0.0
Cython==0.26.1
decorator==4.1.2
empyrical==0.3.2
entrypoints==0.2.3
html5lib==0.9999999
idna==2.6
intervaltree==2.1.0
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==7.0.0
jedi==0.10.2
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
Keras==2.0.8
Logbook==1.1.0
lru-dict==1.1.6
Mako==1.0.7
Markdown==2.2.0
MarkupSafe==1.0
mistune==0.7.4
multipledispatch==0.4.9
nbconvert==5.2.1
nbformat==4.4.0
networkx==1.11
notebook==5.0.0
numexpr==2.6.2
numpy==1.13.1
pandas==0.18.1
pandas-datareader==0.5.0
pandocfilters==1.4.2
patsy==0.4.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
protobuf==3.4.0
py==1.4.34
Pygments==2.2.0
pytest==3.2.1
python-dateutil==2.6.1
python-editor==1.0.3
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.1
requests==2.18.4
requests-file==1.4.2
requests-ftp==0.3.1
scikit-learn==0.19.0
scipy==0.19.1
simplegeneric==0.8.1
six==1.10.0
sortedcontainers==1.5.7
SQLAlchemy==1.1.13
statsmodels==0.8.0
tables==3.4.2
tensorflow-gpu==1.2.0
tensorflow-tensorboard==0.1.5
testpath==0.3.1
toolz==0.8.2
tornado==4.5.2
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.12.2
widgetsnbextension==3.0.2
win-unicode-console==0.5
wincertstore==0.2
zipline==1.1.1
