backports.weakref==1.0rc1
backtrader==1.9.58.122
bleach==3.1.2
certifi==2017.7.27.1
chardet==3.0.4
colorama==0.3.9
first==2.0.1
h5py==2.7.1
html5lib==0.9999999
ibapi==9.73.2
idna==2.6
Keras==2.0.8
Markdown==2.2.0
numpy==1.13.3
pandas==0.20.3
pandas-datareader==0.5.0
pew==0.1.26
pip-tools==1.9.0
pipenv==7.8.3
protobuf==3.4.0
py==1.4.34
pytest==3.2.3
python-dateutil==2.6.1
pythonz-bd==1.11.4
pytz==2017.2
PyYAML==3.12
requests==2.18.4
requests-file==1.4.2
requests-ftp==0.3.1
resumable-urlretrieve==0.1.5
scikit-learn==0.19.0
scipy==0.19.1
six==1.11.0
tensorflow-gpu==1.2.0
tensorflow-tensorboard==0.1.8
urllib3==1.22
virtualenv-clone==0.2.6
Werkzeug==0.12.2
wincertstore==0.2
